<mat-toolbar color="primary" class="nav-header">
  <span [innerText]="title"></span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <span>
    <mat-icon>more_vert</mat-icon>
  </span>
</mat-toolbar>
<section class="app-content has-header has-footer">
  <router-outlet></router-outlet>
</section>
<mat-card class="nav-footer">
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let menu of mainMenus" routerLink="{{menu.path}}" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
    <!-- <a mat-tab-link *ngFor="let menu of mainMenus" routerLink="{{menu.path}}" routerLinkActive="active"> -->
      <mat-icon class="tab-icon">{{menu.data.icon}}</mat-icon>
      {{menu.data.menuName || menu.data.title}}
    </a>
  </nav>
</mat-card>
