<mat-toolbar color="primary" class="nav-header">
  <span>{{title}}</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <span>
    <mat-icon>more_vert</mat-icon>
  </span>
</mat-toolbar>
<section class="app-content has-header has-footer">
  <router-outlet></router-outlet>
</section>
<mat-card class="nav-footer">
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of navLinks" (click)="setTitle(link.label)" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
      <mat-icon class="tab-icon">{{link.icon}}</mat-icon>
      {{link.label}}
    </a>
  </nav>
</mat-card>
