.fill-remaining-space {
  //https://material.angular.io/components/toolbar/overview
  flex: 1 1 auto;
}

.nav-header,
.nav-footer {
  position: fixed !important;
  left: 0;
  right: 0;
}

.nav-header {
  top: 0;
}

.nav-footer {
  bottom: 0;
  padding: 0 !important;
  .mat-tab-links {
    justify-content: space-around;
  }
  .mat-tab-label-active {
    opacity: 1;
    color: $primary!important;
  }
}

.has-header{
  padding-top: 64px;//Header height: .mat-toolbar-single-row
}
.has-footer{
  padding-bottom: 48px;//Footer height: .mat-tab-link
}
